body {
    background-color: #DAF5FF;
    font-color: #231123;
    font-family: 'Lora', serif;
    height: 100vw;
    width: 100vw;
}

#add-container {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-item {
    height: 25px;
    width: 150px;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
}

#add-btn {
    height: 30px;
    width: 155px;
    border: none;
    border: 1px solid black;
    margin-left: 25px;
    margin-right: 25px;
}

h2 {
    font-size: 46px;
    text-align: center;
}

.main-container {
    margin: 0 auto;
    height: auto;
    width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    background-color: #87F6FF;
    border: 1px solid black;
}

.cart-container {
    height: 200px;
    width: 300px;
    background-color: #FFBFA0;
    margin-top: 50px;
    border: 1px solid #231123;
    margin-bottom: 50px;
}

#price-container {
    background: none;
    display: block;
    border: none;
}

label {
    margin-left: 35px;
}

#product {
    font-size: 24px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
    font-weight: bold;
    background: none;
    border: none;
}

#price {
    font-size: 16px;
    height: 35px;
    margin-top: 15px;
    background: none;
    border: none;
}

#quantity {
    font-size: 16px;
    height: 35px;
    margin-left: 15px;
    background: none;
    border: none;
}

#delete-btn {
    display: block;
    background: white;
    width: 25px;
    height: 25px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
}