body {
    background-color: #DAF5FF;
    font-color: #231123;
    font-family: 'Lora', serif;
    height: 100vw;
    width: 100vw;
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#main {
    position: relative;
    display: flex;
}

#left {
    flex: 50%;
}

form {
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
}

#right {
    flex: 50%;
}

.new-item {
    display: block;
    height: 25px;
    width: 100%;
    margin-right: 25px;
    margin-top: 40px;
    border: 1px solid black;
    color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
}

#add-btn {
    height: 30px;
    width: 100%;
    border: none;
    border: 1px solid black;
    margin-top: 70px;
    background: #616163;
    color: white;
    border: none;
    font-weight: bold;
}

h2 {
    font-size: 56px;
    text-align: center;
}

.main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* position: relative; */
    background-color: #60D6BA;
    box-shadow: 4px 3px 25px 0px rgba(0,0,0,0.75);
}

.cart-container {
    height: 150px;
    width: 80%;
    background-color: #FFDECE;
    margin-top: 50px;
    border: 1px solid #231123;
    margin-bottom: 50px;
}

label {
    margin-left: 35px;
}

#product {
    font-size: 24px;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    font-weight: bold;
    background: none;
    border: none;
}

#price {
    font-size: 16px;
    height: 35px;
    margin-top: 5px;
    background: none;
    border: none;
}

#quantity {
    font-size: 16px;
    height: 35px;
    margin-left: 5px;
    background: none;
    border: none;
}

#delete-btn {
    position: relative;
    left: 245px;
    bottom: 80px;
    background: none;
    width: 25px;
    height: 25px;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 24px;
}